/***122295,  124088
9/3/21
external style sheet
**/
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #3e4444;
	color: #82b74b;
	overflow: hidden;
	border: 1px solid #c1946a;
}
li {
  display: inline;
  color: #82b74b;
  float: left;
}
li a {
  display: block;
  color: #82b74b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

li a:hover:not(.active) {
  background-color: lightGray;
}
body{
	background-color: #405d27;
	color: #c1946a;
	text-align: center; 
	font-size: 20px;
}
h1, h2 {
	font-size: 35pt; 
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
	font-size: 20pt;
}
#input {
	margin-bottom: 50px; 
	font-size: 30pt;
}
#calc {width: 45%;}
a {margin-right: 30px;}
input[type="button"] {border-radius: 5px; width: 100px; height: 80px; margin-top: 10px;}
#creators {text-align: left;}
p.home {
	font-size: larger; 
	width: 30%; 
	margin-top: 4%; 
	margin-bottom: 5%; 
	margin-right: 35%; 
	margin-left: 35%; 
	background-color: #E8A87C; 
	padding: 1%; 
	border-radius: 5px; 
	color: #405d27;
}
#calc1 {width: 10%;}
#madlib-home {
	width: 10%;
}

