:root {
        --ic-brand-primary-darkened-5: #193463;
--ic-brand-primary-darkened-10: #18315E;
--ic-brand-primary-darkened-15: #172E59;
--ic-brand-primary-lightened-5: #25406F;
--ic-brand-primary-lightened-10: #304A77;
--ic-brand-primary-lightened-15: #3C547E;
--ic-brand-button--primary-bgd-darkened-5: #193463;
--ic-brand-button--primary-bgd-darkened-15: #172E59;
--ic-brand-button--secondary-bgd-darkened-5: #0087D7;
--ic-brand-button--secondary-bgd-darkened-15: #0079C1;
--ic-brand-font-color-dark-lightened-15: #3C547E;
--ic-brand-font-color-dark-lightened-30: #5E7295;
--ic-link-color-darkened-10: #0080CC;
--ic-link-color-lightened-10: #1999E4;
--ic-brand-primary: #1A3668;
--ic-brand-font-color-dark: #1A3668;
--ic-link-color: #008EE2;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #008EE2;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #1A3668;
--ic-brand-global-nav-ic-icon-svg-fill: #00B4DF;
--ic-brand-global-nav-ic-icon-svg-fill--active: #00B4DF;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #00B4DF;
--ic-brand-global-nav-avatar-border: #00B4DF;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #1a3668;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_140180000000000001/attachments/6264/IMSA_nowriting.jpg');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads.s3.amazonaws.com/account_140180000000000001/attachments/6263/IMSA_nowriting.jpg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_140180000000000001/attachments/139711/IMSA_Favicon-01.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_140180000000000001/attachments/3409/IMSA_logo_NoFullName-01.jpg');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_140180000000000001/attachments/3081/IMSA_logo-01.jpg');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_140180000000000001/attachments/3410/IMSA_logo_2ColorReverse-01.jpg');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads.s3.amazonaws.com/account_140180000000000001/attachments/6261/IMSA_logo_NoFullName-01.jpg');
--ic-brand-Login-body-bgd-color: #fbf9f9;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads.s3.amazonaws.com/account_140180000000000001/attachments/139705/IMSA_Canvas_FINAL.jpg');
--ic-brand-Login-body-bgd-shadow-color: #000000;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_140180000000000001/attachments/138269/IMSA_logo-01.jpg');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: #1A3668;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #fff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ff0000;
      }